.signin.text-center
  = form_for( @student, as: :student, url: student_registration_path(user_id: params[:user_id])) do |f|
    %img.mb-4{:alt => "", :height => "72", :src => "/assets/logo.png", :width => "144"}
    %h1.h3.mb-3.font-weight-normal Hallgatói regisztráció
    = f.label 'Név', class: "sr-only"
    = f.text_field :name, autofocus: true, placeholder: 'Név', required: true, class: "form-control form-control-lg"
    = f.label 'NEPTUN', class: "sr-only"
    = f.text_field :neptun, placeholder: 'NEPTUN', required: true, pattern: "^([A-Z]|[0-9]){6}$", class: "form-control form-control-lg"
    = f.label 'Konzulens', class: "sr-only"
    %h1.h3.mb-3.mt-3.font-weight-normal Konzulens
    = f.select :instructor_id, options_for_select(@instructors), {}, {required: true, class: "custom-select custom-select-lg"}
    = f.label 'Vizsgatárgy', class: "sr-only"
    %h1.h3.mb-3.mt-3font-weight-normal Vizsgatárgy
    = f.select :course_id, options_for_select(@courses), {}, {required: true, class: "custom-select custom-select-lg"}
    .mt-3.mb-3
    = f.submit 'Tovább', class: "btn btn-lg btn-primary btn-block"
