%h1 Záróvizsga adatok
%p itt van lehetőség a hallgató záróvizsgához adatainak megváltoztatására
%p a felhasználói adatok megváltoztatására ittLINK vagy lentebb van lehetőség
= form_for( @student, as: :student, url: student_registration_path ) do |f|
  .field
    = f.label 'Név'
    = f.text_field :name, autofocus: true, placeholder: 'Nánási Anna', required: true
    = f.label 'Neptun (Nagybetűvel)'
    = f.text_field :neptun, placeholder: 'B4TM4N', required: true, pattern: "^([A-Z]|[0-9]){6}$"
    = f.label 'Konzulens'
    = f.select :instructor_id, options_for_select(@instructors), required: true
    = f.label 'Vizsgatárgy'
    = f.select :course_id, options_for_select(@courses), required: true
  .actions
    = f.submit 'Módosítás'
.pill-right
  = link_to 'Felhasználói adatok módosítása', edit_user_registration_path(id: @student.id)