%h2 Registráció
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .field
    = f.label 'Email'
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'pelda@vik.bme.hu', required: true, pattern: "^\\S+@.+\.\\S+$"
    = f.label 'Jelszó'
    = f.password_field :password, autocomplete: "new-password", placeholder: '********', required: true, minlength: '8'
    = f.label 'Jelszó megerősítés'
    = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '********', required: true, minlength: '8'
    = f.label 'Regisztráció típusa'
    = f.radio_button :rank, 'instructor', required: true
    = f.label :rank, 'Oktatói', value: 'instructor'
    = f.radio_button :rank, 'student'
    = f.label :rank, 'Hallgatói', vlaue: 'student'
  .actions
    = f.submit 'Tovább'
