.jumbotron
  .container-fluid
    .row
      .col-1
      .col-10
        %h1.display-3 Jelentkezők
        %p Ez az oldal egy áttekintést nyújt az készülő záróvizsga komponenseiről.
        %hr
    .row
      .col-1
      .col-5
        %ul
          %li Az alábbi táblák lehetőséget adnak adatmódosításra és törlésre.
          %li Egy kurzus vagy oktató törlése nem vonja maga után semmilyen hallgató törlését.
          %li Ha egy ilyen törléstől inkonzisztensek lettek az adatok, akkor ezt a hallgató táblában egy nagy, piros NULL felirat jelzi.
      .col-5
        %ul
          %li
            Új kurzust felvenni 
            = link_to 'itt', course_registration_path
            , illetve a Kurzusok tábla alatti linken lehet.
          %li
            Új vizsgáztatói státuszt létrehozni 
            = link_to 'itt', new_examiner_path
            , illetve a Vizsgáztatók tábla alatti linken lehet.
          %li
            Új hallgató vagy oktató létrehozni lehetőségünk van admin jog nélkül is, ezért erre lehetőséget ezen az oldalon nem fogunk találni.
.container-fluid
  .row
    .col-1
    .col-12.col-md-2
      #list-tab.list-group.list-group-flush{:role => "tablist"}
        %a#list-course-list.list-group-item.list-group-item-action{"aria-controls" => "course", "data-toggle" => "list", :href => "#list-course", :role => "tab", :class => ("active" if (params[:lg] == 'c' || !params[:lg].present?)) } Kurzusok
        %a#list-instructor-list.list-group-item.list-group-item-action{"aria-controls" => "instructor", "data-toggle" => "list", :href => "#list-instructor", :role => "tab", :class => ("active" if params[:lg] == 'i')} Oktatók
        %a#list-examiner-list.list-group-item.list-group-item-action{"aria-controls" => "examiner", "data-toggle" => "list", :href => "#list-examiner", :role => "tab", :class => ("active" if params[:lg] == 'e')} Vizsgáztatók
        %a#list-student-list.list-group-item.list-group-item-action{"aria-controls" => "student", "data-toggle" => "list", :href => "#list-student", :role => "tab", :class => ("active" if params[:lg] == 's')} Hallgatók
    .col-12.col-md-8
      #nav-tabContent.tab-content
        #list-course.tab-pane.fade{"aria-labelledby" => "list-course-list", :role => "tabpanel", :class => ("show active" if (params[:lg] == 'c' || !params[:lg].present?))}
          %h2 Kurzusok
          = will_paginate @courses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Előző', next_label: 'Következő', inner_window: 1, outer_window: 0, param_name: 'course_page', params: { lg: 'c' }
          %table.table.table-striped.table-dark.col-xs-8
            %thead
              %tr
                %th #
                %th Név
                %th Neptun
                %th Módosítás
                %th Törlés
            %tbody
              - @courses.each do |c|
                %tr
                  %th
                    = c[3]
                  %td
                    = c[1]
                  %td
                    = c[2]
                  %td
                    = link_to 'Mod', edit_course_path(id: c[0])
                  %td
                    = link_to 'X', destroy_course_path(id: c[0])
          .float-right
            = link_to 'Új kurzus létrehozása', course_registration_path, class: "btn btn-primary"
        #list-instructor.tab-pane.fade{"aria-labelledby" => "list-instructor-list", :role => "tabpanel", :class => ("show active" if params[:lg] == 'i')}
          %h2 Oktatók
          = will_paginate @instructors, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Előző', next_label: 'Következő', inner_window: 1, outer_window: 0, param_name: 'instructor_page', params: { lg: 'i' }
          %table.table.table-striped.table-dark.col-xs-8
            %thead
              %tr
                %th #
                %th Név
                %th Elnök
                %th Titkár
                %th Tag
                %th Módosítás
                %th Törlés
            %tbody
              - @instructors.each do |i|
                %tr
                  %th
                    = i[5]
                  %td
                    = i[1]
                  %td
                    = i[2]
                  %td
                    = i[3]
                  %td
                    = i[4]
                  %td
                    = link_to 'Mod', edit_instructor_path(id: i[0])
                  %td
                    = link_to 'X', destroy_instructor_path(id: i[0])
        #list-examiner.tab-pane.fade{"aria-labelledby" => "list-examiner-list", :role => "tabpanel", :class => ("show active" if params[:lg] == 'e')}
          %h2 Vizsgáztatók
          = will_paginate @examiners, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Előző', next_label: 'Következő', inner_window: 1, outer_window: 0, param_name: 'examiner_page', params: { lg: 'e' }
          %table.table.table-striped.table-dark.col-xs-8
            %thead
              %tr
                %th #
                %th Tárgy
                %th Vizsgáztató
                %th Törlés
            %tbody
              - @examiners.each do |e|
                %tr
                  %th
                    = e[3]
                  %td
                    = e[1]
                  %td
                    = e[2]
                  %td
                    = link_to 'X', destroy_examiner_path(id: e[0])
          .float-right
            = link_to 'Új vizsgáztató létrehozása', new_examiner_path, class: "btn btn-primary"
        #list-student.tab-pane.fade{"aria-labelledby" => "list-student-list", :role => "tabpanel", :class => ("show active" if params[:lg] == 's')}
          %h2 Hallgatók
          = will_paginate @students, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Előző', next_label: 'Következő', inner_window: 1, outer_window: 0, param_name: 'student_page', params: { lg: 's' }
          %table.table.table-striped.table-dark.col-xs-8
            %thead
              %tr
                %th #
                %th Név
                %th Neptun
                %th Kurzus
                %th Konzulens
                %th Módosítás
                %th Törlés
            %tbody
              - @students.each do |s|
                %tr
                  %th
                    = s[5]
                  %td
                    = s[1]
                  %td
                    = s[2]
                  - if s[3].nil?
                    %td.text-danger
                      NULL
                  - else
                    %td
                      = s[3]
                  - if s[4].nil?
                    %td.text-danger
                      NULL
                  - else
                    %td
                      = s[4]
                  %td
                    = link_to 'Mod', edit_student_path(id: s[0])
                  %td
                    = link_to 'X', destroy_student_path(id: s[0])
          .float-right
            %button.btn.btn-danger{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"}
              Összes hallgató törlése
            #exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-dialog-centered{:role => "document"}
                .modal-content
                  .modal-header
                    %h5#exampleModalLongTitle.modal-title Összes hallgató törlése
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    Biztosan törlöd az összes hallgatót? Ez a művelet egy új záróvizsga jelentkezés kezdete előtt esedékes csak.
                  .modal-footer
                    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Mégse
                    = link_to 'Összes törlése', destroy_all_students_path, class: "btn btn-danger"
