.jumbotron
  .container-fluid
    .row
      .col-1
      .col-10
        %h1.display-3 Kurzus adatainak megváltoztatása
        %p A kurzus jelenlegi adatai:
        %hr
    .row
      .col-1
      .col-5
        %ul
          %li
            = @course.name
          %li
            = @course.neptun
.container.text-center
  = form_for(@course, as: :course, url: courses_path(id: params[:id])) do |f|
    .row
      .col-6
        = f.label 'Kurzus neve', class: "sr-only"
        = f.text_field :name, placeholder: 'Név módosítása', required: true, class: "form-control form-control-lg"
      .col-6
        = f.label 'Kurzus NEPTUN kódja', class: "sr-only"
        = f.text_field :neptun, placeholder: 'Neptun kód módosítása', pattern: "^BMEVI([A-Z]){3}([A-Z]|[0-9]){3}$", required: true, class: "form-control form-control-lg"
      .col-12.mb-3.mt-3
        = f.submit 'Kurzus adatainak megváltoztatása', class: "btn btn-lg btn-primary btn-block"
    .row
      .col-12
        .pull-right.text-right
          = link_to 'Vissza', applicants_path, class: "text-muted"
