%p Ez az oldal mutatja be a vizsgáztatókat tárgyanként csoportosítva
.container
  %h2 Vizsgáztatók
  = will_paginate @examiners, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Előző', next_label: 'Következő', inner_window: 1, outer_window: 0, param_name: 'examiner_page'
  %table.table.table-striped.table-dark.col-xs-8
    %thead
      %tr
        %th #
        %th Tárgy
        %th Vizsgáztató
        %th Törlés
    %tbody
      - @examiners.each do |e|
        %tr
          %th
            = e[3]
          %td
            = e[1]
          %td
            = e[2]
          %td
            = link_to 'X', destroy_examiner_path(id: e[0])
  .float-right
    = link_to 'Vissza', applicants_path
  %p Új vizsgáztató felvitele
  = form_for(@examiner, as: :examiner, url: create_examiner_path) do |f|
    .field
      = f.label 'Vizsgatárgy'
      = f.select :course_id, options_for_select(@courses.map{ |c| c[0].to_s+' ('+c[1].to_s+')' }), required: true
      = f.label 'Vizsgáztató'
      = f.select :instructor_id, options_for_select(@instructors.map{ |i| i[0].to_s+' ('+i[1].to_s+')' }), required: true
    .actions
      = f.submit 'Létrehozás'
