%h2 Oktatói regisztráció
= form_for( @instructor, as: :instructor, url: instructor_registration_path(user_id: params[:user_id])) do |f|
  .field
    = f.label 'Név'
    = f.text_field :name, autofocus: true, placeholder: 'Nánási Anna', required: true
    = f.label 'Elnöki posztot betölthet'
    = f.check_box :can_be_president
    = f.label 'Titkári posztot betölthet'
    = f.check_box :can_be_secretary
    = f.label 'Tagi posztot betölthet'
    = f.check_box :can_be_member
    = f.label 'Az alábbi tárgyakat oktatom'
    %p Windows-on a Ctrl, Mac-on a Command lenyomásávál tud többet kijelölni egyszerre.
    = f.select :course_list, options_for_select(@courses.map{ |c| c[0].to_s+' ('+c[1].to_s+') ' }), {}, multiple:true, required: true
  .actions
    = f.submit 'Tovább'
